.stateborders {
    fill: none;
    stroke: #ccc;
    stroke-linejoin: round;
    pointer-events: none;
}

.metros {
    stroke: none;
}

.statemap {
    stroke: #fff;
    stroke-linejoin: round;
    pointer-events: none;
}

.metros.selected,
.metros.hovered,
.statemap.selected,
.statemap.hovered {
    stroke: #ec008b;
    stroke-width: 2px;
    z-index: 1000;
}


.tt {
    margin-bottom: 1em;
}

.tt-value {
    display: inline-block;
}

.tt-name,
.tt-title {
    font-size: 20px;
    margin-bottom: 4px;
}

.tt-name.tt-value {
    display: inline-block;
    font-size: 14px;
}

/*animation buttons*/
.layer-holder {
    width: 100%;
}

#layers {
    margin: auto;
    color: #333;
    position: relative !important;
    top: 12px;
    height: auto;
    background-color: #e2e2e2;
    font-size: 12px;
    border-radius: 5px;
    text-align: center;
    z-index: 10;
    min-height: 36px;
}

#layers a {
    display: inline-block;
    margin: 5px 1px 1px 1px;
    padding: 6px;
    height: 28px;
    width: 36px;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
}

#layers a.active,
#layers a#play_button:hover {
    background: #1696d2;
    color: #fff;
    font-weight: 900;
}

#layers a:hover {
    cursor: pointer;
}

#layers a#play_button {
    background: #ccc;
}

/***line charts***/

.chartline {
    fill: none;
    stroke-width: 1px;
}

.chartline.selected,
.chartline.hovered {
    stroke: #ec008b;
    stroke-width: 3;
}

.axis,
.axis-show {
    font-size: 12px;
    color: #333;
}

.axis path {
    display: none;
}

.axis line {
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis .minor line {
    stroke: #efefef;
}

.axis-show path,
.axis-show line {
    fill: none;
    stroke-width: 1px;
    stroke: #000;
    shape-rendering: crispEdges;
}

.zeroline {
    stroke: #000;
    stroke-width: 1;
    fill: none;
    shape-rendering: crispEdges;
}

.legend {
    font-size: 12px;
    fill: #333;
}