.styled-select.filter select {
    pointer-events: none;
}

.styled-select option {
    font-size: 16px;
}

.styled-select select {
    background: transparent;
    width: 630px;
    height: 45px;
    font: 26px Lato;
    color: #333;
    line-height: 1;
    border: 0;
    border-radius: 0;
    /*-webkit-appearance: none;*/
    /*pointer-events: none;*/
}

.styled-select select::-ms-expand {
    /*display: none !important;*/
}

.styled-select {
    width: 580px;
    height: 45px;
    overflow: hidden;
    background: url(../img/urban-select-2x.png) no-repeat right;
    background-size: 45px 45px;
    border: none;
    z-index: 2;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
    /*border-bottom: 2px solid #efefef;*/
}

*:focus {
    outline: 0;
}

@media (max-width: 400px) {
    .styled-select select {
        width: 280px;
        font-size: 13px;
    }
    .styled-select {
        width: 250px;
    }
}